---
http_interactions:
- request:
    method: get
    uri: https://api.open-meteo.com/v1/forecast?current_weather=true&latitude=55.676098&longitude=12.568337
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":55.6785,"longitude":12.570419,"generationtime_ms":0.21207332611083984,"utc_offset_seconds":0,"timezone":"GMT","timezone_abbreviation":"GMT","elevation":10.0,"current_weather":{"temperature":0.6,"windspeed":9.4,"winddirection":44.0,"weathercode":2,"time":"2023-02-06T09:00"}}'
  recorded_at: Mon, 06 Feb 2023 09:58:07 GMT
recorded_with: VCR 6.1.0
